@use './../variables/variables' as *;

.fui-alert {
	position: relative;
	padding: 1.8rem;

	// Primary alert
	&--primary {
		border: 1px solid #084298;
		color: #084298;
		background-color: lighten(#084298, 62%);
	}

	// Secondary alert
	&--secondary {
		border: 1px solid #0f5132;
		color: #0f5132;
		background-color: lighten(#0f5132, 62%);
	}

	&--align-center {
		text-align: center;
	}

	&--curved-border {
		border-radius: 5px;
	}
}