.fui-btn {
	cursor: pointer;
	// Set the button as a block element for when a link is styled as a button
	display: inline-block;
	line-height: 1.5;
	padding: 0.8em 1em;
	text-align: center;
	// Remove text-decoration for when a link is styled as a button
	text-decoration: none;
	vertical-align: middle;

	&--primary {
		color: #fff;
		background-color: #0d6efd;
		border: 1px solid #0d6efd;
	}

	&--success {
		color: #fff;
		background-color: #198754;
		border: 1px solid #198754;
	}

	&--active {
		// Active state styling here
	}

	// Set the button to be full-width
	&--full-width {
		width: 100%;
	}
}