@use './../variables/variables-color' as color;

.fui-btn {
	cursor: pointer;
	// Set the button as a block element for when a link is styled as a button
	display: inline-block;
	line-height: 1.5;
	padding: 0.8rem 1rem;
	text-align: center;
	// Remove text-decoration for when a link is styled as a button
	text-decoration: none;
	vertical-align: middle;

	&--primary {
		color: color.$white;
		background-color: color.$blue;
		border: 1px solid color.$blue;
	}

	&--success {
		color: color.$white;
		background-color: color.$green;
		border: 1px solid color.$green;
	}

	&--active {
		// Active state styling here
	}

	// Set the button to be full-width
	&--full-width {
		width: 100%;
	}
}