.fui-btn {
	cursor: pointer;
	// Set the button as a block element for when a link is styled as a button
	display: inline-block;
	line-height: 1.5;
	padding: 0.8em 1em;
	text-align: center;
	// Remove text-decoration for when a link is styled as a button
	text-decoration: none;
	vertical-align: middle;
}