@use './../variables/variables' as *;

.fui-nav {
	display: flex;
	// Provide space between child elements inside of the header navigation
	justify-content: space-between;
	// Align items vertical/centered
	align-items: center;
	// Padding provides the height of the header
	padding: 3rem 0;

	&__menu {
		// Position navigation menu links as a row
		display: flex;
		// Remove bullet points from the list
		list-style-type: none;
		// Align items vertical/centered
		align-items: center;
		// Gap between each navigation list item
		gap: 4rem;

		&-item {
			display: inline-flex;
		}

		// Link styling within the header navigation
		&-link {
			text-decoration: none;

			// Hover state of the links
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

        .fui-nav__hamburger-icon {
            display: none;
        }

        .fui-nav__hamburger-icon-bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: #101010;
        }

        .fui-nav__menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        @media only screen and (max-width: 768px) {
            .fui-nav__menu {
                position: fixed;
                left: -100%;
                top: 5rem;
                flex-direction: column;
                background-color: #fff;
                width: 100%;
                border-radius: 10px;
                text-align: center;
                transition: 0.3s;
                box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
                margin-top: 2px;
            }

            .fui-nav__menu.active {
                left: 0;
            }

            .fui-nav__hamburger-icon {
                display: block;
                cursor: pointer;
            }

            .fui-nav__hamburger-icon.active .fui-nav__hamburger-icon-bar:nth-child(2) {
                opacity: 0;
            }

            .fui-nav__hamburger-icon.active .fui-nav__hamburger-icon-bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }

            .fui-nav__hamburger-icon.active .fui-nav__hamburger-icon-bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }