@use './../variables/variables' as *;

.fui-nav {
	display: flex;
	// Provide space between child elements inside of the header navigation
	justify-content: space-between;
	// Align items vertical/centered
	//align-items: center;
	// Padding provides the height of the header
	padding: 3rem 0;
	z-index: 1;

	@media only screen and (min-width: 768px) {
		align-items: center;
	}

	&__menu {
		// Position navigation menu links as a row
		display: flex;
		// Set the navigation menu as a column on mobile view
		flex-direction: column;
		position: fixed;
		/////top: 5rem;
		top: 0;
		/////margin-top: 2px;
		// Remove bullet points from the list
		list-style-type: none;
		// Align items vertical/centered
		align-items: center;
		// Gap between each navigation list item on mobile
		gap: 2rem;
		//////background-color: #fff;
		background-color: #ccc;
		color: white;
		text-align: center;
		transition: 0.6s;
		height: 100%;
		width: 100%;
		// Position the navigation menu off-screen (left) to be hidden
		left: -100%;

		// Apply active class styling using JavaScript
		&.active {
			// Position the navigation menu on-screen if active class applied
			left: 0;
		}

		// Desktop
		@media only screen and (min-width: 768px) {
			display: flex;
			// Set the navigation bar to be a row
			flex-direction: row;
			// Gap between each navigation list item on desktop
			gap: 4rem;
			// Remove the CSS properties on desktop (unset)
			position: unset;
			width: unset;
		}

		&-item {
			display: inline-flex;
		}

		// Link styling within the header navigation
		&-link {
			text-decoration: none;
			color: inherit;

			// Hover state of the links
			&:hover {
				text-decoration: underline;
			}
		}
	}

	// Hamburger navigation bar icon
	&__hamburger-icon {
		display: block;
		cursor: pointer;

		// Hide on desktop
		@media only screen and (min-width: 768px) {
			display: none;
		}

		// Styling for the bars within the Hamburger navigation bar icon
		&-bar {
			display: block;
			width: 25px;
			height: 3px;
			margin: 5px auto;
			transition: all 0.3s ease-in-out;
			background-color: #101010;
		}
	}

	// Top Hamburger icon bar will rotate when active to form the cross
	&__hamburger-icon.active .fui-nav__hamburger-icon-bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	// Central Hamburger icon bar will fade with opacity to be hidden
	&__hamburger-icon.active .fui-nav__hamburger-icon-bar:nth-child(2) {
		opacity: 0;
	}

	// Bottom Hamburger icon bar will rotate when active to form the cross
	&__hamburger-icon.active .fui-nav__hamburger-icon-bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}