@use './../variables/color' as *;
@use './../variables/variables' as *;

.fui-terminal {
    border-radius: 5px 5px 0 0;
    position: relative;
    margin: 25px 0;

    &--shadow {
        box-shadow: 0 0 10px rgba(0,0,0,.4);
    }

    &__top {
        background: $grey-lightest;
        color: $black;
        font-size: 1.4rem;
        padding: 0.5rem;
        border-radius: 5px 5px 0 0;
    }

    &__title {
        text-align: center;
    }

    &__buttons {
        position: absolute;
        top: 7px;
        left: 5px;
    }

    &__circle {
        width: 12px;
        height: 12px;
        display: inline-block;
        border-radius: 15px;
        margin-left: 2px;
        border-width: 1px;
        border-style: solid;

        &--close {
            background-color: $red; 
            border-color: $red-dark; 
        }

        &--expand {
            background-color: $green; 
            border-color: $green-dark;
        }

        &--minimise {
            background-color: $yellow; 
            border-color: $yellow-dark; 
        }

        &--clear {
            clear: both;
        }
    }

    &__body {
        display: block;
        background-color: $black;
        color: $white;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        white-space: pre;
        overflow: auto;
        max-width: 100%;
        tab-size: 0;
        font-size: 1.4rem;
        padding: 3rem 0 2rem 2rem;
        font-family: monospace;
        line-height: 1.2; 
    }
}