@use './../variables/variables' as *;

.fui-grid {

	&-container {
		margin: 0 auto;

		@media screen and (min-width: 800px) {
			max-width: 1200px;
		}
	}
	
	&-row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 90rem;
		margin-left: auto;
		margin-right: auto;
		padding: 1rem;
		gap: 1rem;

		&--fluid {
			max-width: unset;

			&-full-width {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	&-col {
		flex-basis: 100%;

		@media screen and (min-width: 800px) {
			flex: 1;
		}
	}
}

.card {
	background-color: blue;
	color: white;
	padding: 1rem;
}